.listInput {
    border-color: #817bd5;
    border-radius: 2px;
    border-width: 4px;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-left: none;
}

.allListText2 {
    color: darkviolet;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.middleText2 {
    color: rgb(9, 47, 153);
    font-weight: 500;
    font-family: cursive;
}